@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


@font-face {
    font-family: 'Goldplay';
    src:   
        url('Goldplay-Regular.woff2') format('woff2'),
        url('Goldplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Goldplay', 'Roboto', 'Arial', sans-serif;
}

.bg-image {
    background: url('../images/home-bg.JPG') no-repeat center center;
    background-size: cover;
    color: white;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-title {
    font-size: 6rem; 
    line-height: 6rem;
}

.header-subtitle {
    font-size: 2.5rem; 
    line-height: 2.5rem;
}

.navbar-nav .active { 
    text-decoration: underline;
}

@media (max-width: 768px) {
    .header-title {
        font-size: 4.5rem;
        line-height: 4.5rem;;
    }

    .header-subtitle {
        font-size: 1.5rem; 
        line-height: 1.5rem;;
    }
}

@media (max-width: 576px) {
    .header-title {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .header-subtitle {
        font-size: 1.2rem; 
        font-size: 1.2rem;;
    }
}

